.box{
  width: 30%;
  text-align:center;
  background-color: #f7e70a;
  padding: 50px;
  margin: auto;
  border-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.box p{
  font-style: italic;
  color: #ff0000;
}
.box h3{
  font-family:'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 600;
  color:#00f000;

}
.lolol{
  text-align:center;
}
.sumy{
  background: #fad84f;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: #f00800ef solid 3px;
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
  cursor: pointer;

}
.boxes{
  width: 50%;
  text-align:center;
  background-color: #333;
  padding: 80px;
  margin: auto;
}

.kamalll{
  position:fixed;
  top: 80%;
  border: #00f000 solid 3px;
  border-radius: 50%;
  padding: 15px 10px;
  background: #008000;
  margin-left: 65%;
  cursor: pointer;
}
#background{
  background:url('../img/login.png');
}
.dp{
  background:url('../img/Signup.png');
}
#text{
  height: 25px;
  border-radius: 5px;
  padding: 4px;
  border: solid thin #aaa;
  width: 70%;
}
#texty{
  height: 25px;
  border-radius: 5px;
  padding: 4px;
  border: solid thin #aaa;
  width: 30%;
}
#btn{
  padding: 10px;
  width: 100%;
  color: #fff;
  background-color: #009688;
}
