.edt{
  width:100%;
  margin:auto;
}
.tp{
  width:0;
  margin:auto;
  padding: 10px;
  position: fixed;
}
.pdg{
  width: 5%;
  color: #fff;
  border-color: #cccccc;
  background-color: #333;
  margin:auto;
  padding: 10px;
  position: fixed;
  text-align: right;
}
#die{
  min-height:10px;
  background:#cccccc;
  text-align: center;
  color:#333;
  width: 50%;
  margin: auto;
}

#die p{
  margin-top:0px;
  font-size: 30px;
  margin-bottom:10px;
}
